#full_page
  %h3=current_account_display
  .container
    = link_to('Post Content', new_content_url, remote: true)
    %br
    %br
    #contents_div
    -@contents.each do |content|
      = render partial: 'contents/content', locals: {content: content}
