%h3 Content List
.container
  = link_to('Post Content', contents_new_url, remote: true)
  %br
  #posts_div
  -@contents.each do |content|
    .row.justify-content-end
      .col.col-3
        = content_text