%h3 Users List
= link_to 'New User', '/login/new', remote: true
%br
%br
-# Sample ruby comment
- @users.each do |user|
  = annotate_user(user)
  - user.accounts.each do |account|
    = annotate_account(user, account)
  %br

