%h3 Accounts List
= link_to 'New Account', accounts_new_url, remote: true
%br
%br
- @accounts.each do |account|
  = account.name
  = '*' if !current_account.nil? && account.name == current_account.name
  %br
